#body{
    position: absolute;
    left:50%;
    width:1000px;
    height: 600px;
    transform: translate(-50%,0);
}
.container{
    width:1000px;
    display: flex;
    align-items: center;
}
.title{
    position: relative;
    width: 1000px;
    color: #bc777c;
    font-size: 19px;
    font-weight: bold;
    padding: 10px;
}
.text{
    position: relative;
    width: 1000px;
    padding: 10px 0;
    font-size: 15px;
    white-space: normal;
    text-indent: 20px;
}
.news-nav{
    width: 1000px;
    background-color: #272c41;
    height: 50px;
    line-height: 50px;
}
a{
    text-decoration: none;
    color: #eaebf1;
    font-weight: 700;
}
a[href='/one']:hover,a[href='/two']:hover{
    color: #84c3ff;
}
.news-nav span{
    height: 30px;
    padding: 0 10px;
    border-right: 1px solid #d3d8ff;
    line-height: 30px;
    cursor: pointer;
    color:  #333333;
}
ul{
    width: 1000px;
}
pre{
    white-space: pre-wrap;
    font-size: 17px;
    font-family: Arial;
}
#delete,#modify{
    position: absolute;
    left:900px;
    width: 100px;
    height: 35px;
    bottom: 10px;
    line-height: 35px;
    border: 1px solid #272c41;
    border-radius: 8px;
    color: #eaebff;
    background-color: #272c41;
    font-weight: bold;
    cursor: pointer;
}
#modify{
    left:780px;
}